---
layout: page
title: Archive
---
<div class="tags-expo">

  <hr/>

  <div class="tags-expo-section">

    {% for post in site.posts %}

    {% assign currentdate = post.date | date: "%Y" %}

    {% if currentdate != date %}

    {% unless forloop.first %}</ul>{% endunless %}
    <h1 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h1>
    <ul class="tags-expo-posts">
      {% assign date = currentdate %}
      {% endif %}

      <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
        <li>
          {{ post.title }}
          <small class="post-date">{{ post.date | date_to_string }}</small>
        </li>
      </a>

      {% if forloop.last %}
    </ul>
    {% endif %}

    {% endfor %}
  </div>

</div>
