.post {
  margin-bottom: 4em;

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }

  @media (min-width: 38rem) {
    font-size: .9rem;

    h1 { font-size: 2rem; }
    h2 { 
      margin: 2em 0 1em 0;
      font-size: 1.5rem; 
    }
    h3 {
      margin: 2em 0 1em 0;
      font-size: 1.17rem;
    }
    h4 {
      margin: 2em 0 1em 0;
      font-size: 1.12rem;
    }
    h5, h6 {
      margin: 2em 0 1em 0;
      font-size: .8rem;
    }
  }

  .post-title {
    color: $theme-color;
    margin-top: 0;
  }

  .post-date {
    display: inline-block;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    color: $post-date-color;
  }

  .post-more {
    margin-top: .5em;
    text-align: right;
    .fa{
      margin-right: .2em;
    }
  }

  article {
    line-height: 1.4rem;
  }
}

/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid $lightgrey;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: $theme-color;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}

